*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: 'Gotham Pro', sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 1.4;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

ol {
  margin: 0;
  padding: 0;
}

input,
button {
  font-family: inherit;
}

address {
  font-style: normal;
}

a {
  text-decoration: none;
  display: inline-block;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
}

label {
  user-select: none;
}

:focus-visible {
  outline-offset: 4px;
  outline-color: 2px var(--color-brand);
}
