:root {
  --color-brand: #0066ff;
  --color-line: #2d8cff;
  --color-text: #000000;
  --color-secondary: #d8ff69;
  --color-accent: #ff4286;
  --color-light: #fff;
  --color-light-background: #b9ff66;
}

$bp-mobile: 480px;
$bp-tablet: 768px;
$bp-tablet-ls: 900px;
$bp-desktop: 1200px;
